<!DOCTYPE html>
<meta charset="utf-8">

<link rel="stylesheet" href="frameworks/common/common.css">
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="./frameworks/common/utilities.js"></script>

<!-- Bootstrap all over -->
<!-- Latest compiled and minified CSS -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
<!-- Optional theme -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous"> -->
<!-- Latest compiled and minified JavaScript -->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->

<body>
    <iframe style="margin-top: 20px" src="bubble-layout/flare.html"></iframe>
    <iframe src="tree-layout/tree.html"></iframe>
    <iframe id="mainCompare" src="comparison-layout/index.html"></iframe>
</body>

</html>